{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Virtualised Table Test{% endblock %}</h1>
{% endblock %}

{% block content %}
<script defer src="{{ url_for('static', filename='javascript/virtualised_table/virtualised_table.js') }}"></script>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=favorite,home,search,settings" rel="stylesheet"/>
<table id="schedule" class="schedule"></table>
<script>
    window.onload = (event) => {
        console.log("page is fully loaded");
        virtualisedTable = new VirtualisedTable(
            "schedule", 
            ["Route No", Origin StationDestination StationStopOrigin Departure TimeDestination Arrival TimeStop Time Cancelled] 	Update 	Delete
            {{ schedule|tojson }}, 
            {{ column_types|tojson }}, 
            25);
    };
</script>
<script defer src="{{ url_for('static', filename='javascript/virtualised_table/virtualised_table.js') }}"></script>
{% endblock %}