{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Find A Journey{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script defer src="{{ url_for('static', filename='javascript/find_a_journey.js') }}"></script>

<form autocomplete="off" action="" method="get">
    <label for="journey-start-input">Journey Start</label>
    <div id="journey-start-search-bar-with-suggestions" class="searchbar-with-suggestions-container">
        <input type="text" id="journey-start-input" name="journey-start-input" class="myInput" placeholder="Journey Start.." value="{{ request.args.get('journey-start-input', '') }}" required>
    </div>
    <label for="journey-end-input">Journey End</label>
    <div id="journey-end-search-bar-with-suggestions" class="searchbar-with-suggestions-container">
        <input type="text" id="journey-end-input" name="journey-end-input" class="myInput" placeholder="Journey End.." value="{{ request.args.get('journey-end-input', '') }}" required>
    </div>
    <label for="journey-departure-time">Journey Start Time</label>
    <input type="datetime-local" id="journey-departure-time" name="journey-departure-time" value="{{ request.args.get('journey-departure-time', '') }}" required>
    <input type="submit" id="journey-search-submit" onclick="getNFastestJourneys();">
</form>

{% if journeys %}
    <table>
        <thead>
            <th>Route</th>
            <th>Route IDs</th>
            <th>Arrival Time</th>
        </thead>
        <tbody>    
    {% for journey in journeys %}
            <tr>
                <td>{{ journey["route"] }}</td>
                <td>{{ journey["route_ids"] }}</td>
                <td>{{ journey["arrival_time"] }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}

<script defer>
    let suggestionsArray =  [
                             "AAA", "BBB", "CCC", "DDD", "EEE",
                             "ABC", "ABB", "ABA", "ACA", "ACB", 
                             "ACC", "ADA", "ADB", "ADC", "BCA", 
                             "BCB", "BCC", "BDA", "BDB", "BDC", 
                             "BEA", "BEB", "BEC", "CEA", "CEB", 
                             "CEC", "DEA", "DEB", "DEC"
                             ];
    suggestionsArray.sort();

    window.onload = (event) => {
        console.log("page is fully loaded");
        let journeyStartSearchBar = new searchBarWithSuggestions(suggestionsArray, "journey-start-search-bar-with-suggestions", 5);
        let journeyEndSearchBar = new searchBarWithSuggestions(suggestionsArray, "journey-end-search-bar-with-suggestions", 5);
    };
</script>
              
{% endblock %}