{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Find A Journey{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script defer src="{{ url_for('static', filename='javascript/find_a_journey.js') }}"></script>

<form autocomplete="off" action="" method="get">
    <label for="journey-start-input">Journey Start</label>
    <div id="journey-start-search-bar-with-suggestions" class="searchbar-with-suggestions-container">
        <input type="text" id="journey-start-input" name="journey-start-input" class="myInput" placeholder="Journey Start.." value="{{ request.args.get('journey-start-input', '') }}" required>
    </div>
    <label for="journey-end-input">Journey End</label>
    <div id="journey-end-search-bar-with-suggestions" class="searchbar-with-suggestions-container">
        <input type="text" id="journey-end-input" name="journey-end-input" class="myInput" placeholder="Journey End.." value="{{ request.args.get('journey-end-input', '') }}" required>
    </div>
    <label for="journey-departure-time">Journey Start Time</label>
    <input type="datetime-local" id="journey-departure-time" name="journey-departure-time" value="{{ request.args.get('journey-departure-time', '') }}" required>
    <input type="submit" id="journey-search-submit" onclick="getNFastestJourneys();">
</form>

{% if journeys %}
    <table id="find-a-journey-results" class="schedule">
        <thead>
            <th>Route</th>
            <th>Departure Times</th>
            <th>Arrival Times</th>
        </thead>
        <tbody>    
    {% for journey in journeys %}
            <tr>
                <td>{{ journey["route"] }}</td>
                <td>{{ journey["departure_times"] }}</td>
                <td>{{ journey["arrival_times"] }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}

<script defer>
    let suggestionsArray =  [
                             "AAA", "BBB", "CCC", "DDD", "EEE",
                             "ABC", "ABB", "ABA", "ACA", "ACB", 
                             "ACC", "ADA", "ADB", "ADC", "BCA", 
                             "BCB", "BCC", "BDA", "BDB", "BDC", 
                             "BEA", "BEB", "BEC", "CEA", "CEB", 
                             "CEC", "DEA", "DEB", "DEC"
                             ];
    suggestionsArray.sort();
    {% if journeys %}
    var journeyData = JSON.parse('{{ journeys | tojson | safe }}');
    var parsedRowData = [];

    for (var i = 0; i < journeyData.length; i++) {
        var rowData = journeyData[i];
        var route = rowData["route"].split(",");
        var departure_times = rowData["departure_times"].split(",").slice(0, -1).map((a) => {
            var unixTime = parseInt(a);
            var datetime = new Date(unixTime * 1000);
            var time = new Intl.DateTimeFormat('en-GB', {
                dateStyle: 'short',
                timeStyle: 'short',
                timeZone: 'Europe/London',
              }).format(datetime);
              return time;
        });
        var arrival_times = rowData["arrival_times"].split(",").slice(0, -1).map((a) => {
            var unixTime = parseInt(a);
            var datetime = new Date(unixTime * 1000);
            var time = new Intl.DateTimeFormat('en-GB', {
                dateStyle: 'short',
                timeStyle: 'short',
                timeZone: 'Europe/London',
              }).format(datetime);
              return time;
        });
        var parsedRow = {
            "route": route,
            "departure_times": departure_times,
            "arrival_times": arrival_times,
        };
        parsedRowData.push(parsedRow);
    }

    console.log(parsedRowData);

    var journeyTable = document.getElementById("find-a-journey-results");
    for (var i = 0; i < parsedRowData.length; i++) {
        journeyTable.rows[i + 1].cells[0].textContent = parsedRowData[i]["route"].join("\n");
        journeyTable.rows[i + 1].cells[1].textContent = parsedRowData[i]["departure_times"].join("\n");
        journeyTable.rows[i + 1].cells[2].textContent = parsedRowData[i]["arrival_times"].join("\n");
    }

    {% endif %}

    window.onload = (event) => {
        console.log("page is fully loaded");
        let journeyStartSearchBar = new searchBarWithSuggestions(suggestionsArray, "journey-start-search-bar-with-suggestions", 5);
        let journeyEndSearchBar = new searchBarWithSuggestions(suggestionsArray, "journey-end-search-bar-with-suggestions", 5);
    };
</script>
              
{% endblock %}