{% extends "base.html" %}

{% block header %}
    <h1>{ % block title %}Add Route{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="route">Route ID</label>
        <input name="route" id="route" value="{{ request.form['route_id'] }}" required>
        <label for="origin_stn">Origin Station</label>
        <input name="origin_stn" id="origin_stn" value="{{ request.form['origin_stn'] }}" required>
        <label for="destn_stn">Destination Station</label>
        <input name="destn_stn" id="destn_stn" value="{{ request.form['destn_stn'] }}" required>
        <label for="stop_stn">Stop Station</label>
        <input name="stop_stn" id="stop_stn" value="{{ request.form['stop_stn'] }}" required>
        <label for="origin_dep_time">Origin Departure Time</label>
        <input name="origin_dep_time" id="origin_dep_time" value="{{ request.form['origin_dep_time'] }}" required>
        <label for="destn_arr_time">Destination Departure Time</label>
        <input name="destn_arr_time" id="destn_arr_time" value="{{ request.form['destn_arr_time'] }}" required>
        <label for="stop_time">Stop Time</label>
        <input name="stop_time" id="stop_time" value="{{ request.form['stop_time'] }}" required>
    </form>
{% endblock %}
        