{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Schedule{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('schedule.add_route') }}">Add Route</a>
    {% endif %}
{% endblock %}

{% block content %}
<script defer src="{{ url_for('static', filename='javascript/schedule/search.js') }}"></script>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=favorite,home,search,settings" rel="stylesheet"/>
        <table class="schedule">
            <tr>
                <th data-column-index="0">Route No<input type="text" id="myInput" class="myInput" onkeyup="myFunction(this);" placeholder="Search for Route No.."></th>
                <th data-column-index="1">Origin Station<input type="text" id="myInput" class="myInput" onkeyup="myFunction(this);" placeholder="Search for Origin Station.."></th>
                <th data-column-index="2">Destination Station</th>
                <th data-column-index="3">Stop</th>
                <th data-column-index="4">Origin Departure Time</th>
                <th data-column-index="5">Destination Arrival Time</th>
                <th data-column-index="6">Stop Time</th>
                <th data-column-index="7">Cancelled?</th>
                <th data-column-index="8">Update</th>
                <th data-column-index="9">Delete</th>
            </tr>
            {% for route in schedule %}
                <tr data-columns-hiding-this-row="00000000">
                    <td>{{ route["route_id"] }}</td>
                    <td>{{ route["origin_stn"] }}</td>
                    <td>{{ route["destn_stn"] }}</td>
                    <td>{{ route["stop_stn"] }}</td>
                    <td>{{ route["origin_dep_time"] }}</td>
                    <td>{{ route["destn_arr_time"] }}</td>
                    <td>{{ route["stop_time"] }}</td>
                    <td>{{ route["cancelled"] }}</td>
                    <td><a href="{{ url_for('schedule.update_route', route_id = route['route_id']) }}">Update Route</a></td>
                    <td>
                        <form action="{{ url_for('schedule.delete', route_id = route['route_id']) }}" method="post">
                            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}