{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Schedule{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('schedule.add_route') }}">Add Route</a>
    {% endif %}
{% endblock %}

{% block content %}
        <table class="schedule">
            <tr>
                <th>Route No</th>
                <th>Origin Station</th>
                <th>Destination Station</th>
                <th>Stop</th>
                <th>Origin Departure Time</th>
                <th>Destination Arrival Time</th>
                <th>Stop Time</th>
                <th>Cancelled?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for route in schedule %}
                <tr>
                    <td>{{ route["route_id"] }}</td>
                    <td>{{ route["origin_stn"] }}</td>
                    <td>{{ route["destn_stn"] }}</td>
                    <td>{{ route["stop_stn"] }}</td>
                    <td>{{ route["origin_dep_time"] }}</td>
                    <td>{{ route["destn_arr_time"] }}</td>
                    <td>{{ route["stop_time"] }}</td>
                    <td>{{ route["cancelled"] }}</td>
                    <td><a href="{{ url_for('schedule.update_route', route_id = route['route_id']) }}">Update Route</a></td>
                    <td>
                        <form action="{{ url_for('schedule.delete', route_id = route['route_id']) }}" method="post">
                            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}