<!doctype html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script defer src="{{ url_for('static', filename='javascript/base.js') }}"></script>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}{% endblock %} - Rail National</title>
<header class="navbar-header">
    <h1>Rail National</h1>
    <nav id="navbar" class="navbar">
        <ul>
            {% if g.user %}
                <li><span>{{ g.user["username"] }}</span>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                <li><a href="{{ url_for('schedule.add_route') }}">Add Route</a>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a>
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Schedule</a>
            <li><a href="{{ url_for('virtualised_table.index') }}">Virtualised Table Test</a>
            <li class="dropdown-button"><a>Dropdown</a></li>
            <li class="dropdown-container"><ul>
                <li><a><span>Link 1</span></a></li>
                <li><a><span>Link 2</span></a></li>
                <li><a><span>Link 3</span></a></li>
            </ul></li>
        </ul>
    </nav>
</header>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
</section>
<script>
var dropdownButtons = document.getElementsByClassName("dropdown-button");

for (var i = 0; i < dropdownButtons.length; i++) {
    dropdownButtons[i].addEventListener("click", function() {
        this.classList.toggle("active-dropdown-button");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display == "block") {
            dropdownContent.style.display = "none";
        } else {
            dropdownContent.style.display = "block";
        }
    });
}
</script>
</html>